#clock,#date,#weekday{
    font-family:NovaMono,Verdana
}
body,html{
    background-color:#3C3C3C;
    color:#8d99ae;
    margin:0;
    height:100%;
    min-height:100%
}
.main-container{
    margin-top:50px;
    height:1vw;
}
.main-content{
    width:100%
}
.text-center{
    text-align:center
}
.text-left{
    text-align:left
}
.text-justify{
    text-align:justify
}
.text-right{
    text-align:right
}
@font-face{
    font-family:NovaMono;
    src:url(/rsc/fonts/NovaMono.ttf) format("truetype")
}
#links{
    margin-top:30px
}
a{
    outline:0
}
.centered{
    position:relative;
    top:50%;
    transform:perspective(1px) translateY(-50%)
}
#clock{
    font-size:80px;
    color:#d3d3d3;
    margin-bottom:30px;
    line-height:85px
}
#weekday{
    font-size:48px;
    margin:0;
    line-height:53px
}
#date{
    font-size:20px;
    line-height:25px
}
a,a:active,a:hover,a:visited{
    color:inherit;
    text-decoration:none
}
.form-control:focus{
    border-color:#fd971f;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(253,151,31,.6)
}
.disable-select{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.link-item{
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    position:absolute;
    right:0;
    color:red
}
.link-main{
    color:#ef233c!important
}
.link-sub{
    color:#1ac8ed!important
}
.links{
    padding-top:20px;
     font-family: NovaMono,Verdana;
}

.reddit-item > table {
  border: none;
  width: 100%;
  overflow-y: auto;
  vertical-align: top;
}

td {
  padding-right: 60px;
}

.md {
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: visible;
}
